@font-face {
    font-family: 'Bopomofo Ruby';
    src: url(vendor/bopomofo.ttf);
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'jf-jinxuan', 'Source Han Sans TC', Calibri, 'Gill Sans', 'Bopomofo Ruby', sans-serif;
    width: 100%;
    max-width: 45rem;
    margin: auto;
}

table {
    width: 100%;
    line-height: 1.33em;
    border-collapse: collapse;
}

th {
    font-weight: 500;
}

td:not(:empty) {
    text-align: center;
    border: 1px solid gray;
}

a:not(:active) {
    text-decoration: none;
}

sup, sub {
    font-size: 0.67em;
}

sup u {
    display: inline-block;
    transform: scaleX(0.75);
    transform-origin: bottom left;
    letter-spacing: -0.1em;
}

rt {
    font-size: 27.5%;
    font-family: 'Bopomofo Ruby', 'jf-jinxuan', 'Source Han Sans TC', sans-serif;
    text-orientation: upright;
    font-feature-settings: 'salt';
}

abbr {
    text-decoration: none;
}

abbr::after {
    content: '*';
    font-size: 75%;
    color: gray;
    position: absolute;
}

footer {
    margin: 2rem 0;
    text-align: right;
    font-size: 0.8rem;
    color: gray;
}

footer a:not(:active) {
    color: inherit;
}
